<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error | Av Inc.</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_list">
                <li class="main-header-list-item"><a href="/" class="active">Shop</a></li>
                <li class="main-header-list-item"><a href="/admin/add-product" >Add product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>404 page not found</h1>
        <p>This page does not exists, please use above links to navigate to the site or contact +919877137185</tel></p>
    </main>
    
</body>
</html>